
footer{
    font-weight: 400;
    line-height: 1.25;
    background-color:white;
   
   

}

footer h2{
    color: rgb(255, 0, 0);
 
}
.icons{
    width: 20px;
    height: 20px;
    background: rgb(37, 55, 115);
    color: rgb(246, 246, 246);
    border: none;
}
h4{
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
    color: rgb(117, 117, 117);
}
footer button{
    background: rgb(221, 221, 221);
    border-radius: 7px;
    color: rgb(117, 117, 117);
    padding: 10px;

    border: none;
    width: 200px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 10px;
    text-align:justify;
   

    
}
.one{
    display:flex;
    flex-wrap:wrap ;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
 

}
.one-one, .one-two, .one-three, .one-four{
    display: flex;
    font-weight: 400;
  
    flex-direction: column;
    width: 150px;
    border: 1px coral  solid;
    
    padding: 20px
    
    
}
footer a , footer p{
    font-family:"Montserrat",sans-serif ;
    text-decoration: none;
    color: rgb(117, 117, 117);
    font-size: 10px;
}
.two{
    min-width: 200px;
    text-align: justify;
    padding: 20px;
    font-weight: 100;
}
